{% load static %}
<!-- Header Area Start -->
    <header class="header-area">
        <!-- Main Header Start -->
        <div class="main-header-area">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-between" id="alimeNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="/"><img src="{% static 'img/core-img/logo.png'%}" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">
                            <!-- Menu Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul id="nav">
                                    <li class="active"><a href="/">Home</a></li>
                                    <li><a href="#">Pages</a>
                                        <ul class="dropdown">
                                            <li><a href="/">- Home</a></li>
                                            <li><a href="/about">- About</a></li>
                                            <li><a href="/blog">- Blog</a></li>
                                            <li><a href="/gallery">- Gallery</a></li>
                                            <li><a href="/references">- References</a></li>
                                            <li><a href="/contact">- Contact</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/about">About</a></li>
                                    <li><a href="/blog">Blog</a></li>
                                    <li><a href="/gallery">Gallery</a></li>
                                    <li><a href="/references">References</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                </ul>
                                <!-- Search Icon -->
                                <div class="search-icon" data-toggle="modal" data-target="#searchModal"><i class="ti-search"></i></div>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>