{% load static %}






<!-- Header Area Start -->
    <header class="header-area">
        <!-- Main Header Start -->
        <div class="main-header-area">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-between" id="alimeNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="/"><img src="{% static 'img/core-img/logo.png'%}" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">
                            <!-- Menu Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                            <!-- Nav Start -->
                            <div class="classynav">
                             <ul id="nav">
                                 <!-- Search Icon -->
                                    {% load mptt_tags %}
                                    <li ><a href="#">Categories</a>
                                        <ul class="dropdown ">
                                        {% recursetree category %}
                                              <li class="">
                                                  <a href="/content/{{ node.id }}/{{ node.slug }}" class="dropdown-toggle"
                                                          {% if not node.is_leaf_node %} data-toggle="list-link" aria-expanded="true" {% endif %}>
                                                            {{ node.title }}
                                                  </a>
                                                           {% if not node.is_leaf_node %}

                                                                 <ul class="dropdown">
                                                                  <li><a href="#">{{ children }}</a></li>
                                                                 </ul>

                                                            {% endif %}

                                              </li>
                                            {% endrecursetree %}
                                        </ul>
                                    </li>
                                    <li class="active"><a href="/">Home</a></li>
                                    <li><a href="/about">About</a></li>
                                    <li><a href="/gallery">Gallery</a></li>
                                    <li><a href="/contact">Contact</a></li>

                                <!-- Account -->
                                    <li class="header-account dropdown default-dropdown">
                                        {% if user.id is not None %}
                                        <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
                                            <div class="header-btns-icon" style="color: #fc6060;">
                                                <i class="fa fa-user-o"></i>
                                            </div>
                                            <strong href="#" class="text-uppercase" style="color:white;">{{ user.first_name }} <i class="fa fa-caret-down"></i></strong>
                                        </div>
                                        {% else %}
                                        <a href="/login/" class="text-uppercase">Login</a><a href="/signup/" class="text-uppercase">Join</a>
                                        {% endif %}
                                        <ul class="dropdown">

                                            <li><a href="#"><i class="fa fa-exchange"></i>My Gallery</a></li>
                                            <li><a href="#"><i class="fa fa-check"></i> Checkout</a></li>>
                                            <li><a href="/logout/"><i class="fa fa-unlock-alt"></i> Checkout</a></li>
                                        </ul>
                                    </li>
							<!-- /Account -->
                             </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
<script>

              $(function() {
                $("#query").autocomplete({
                  source: "/search_auto/",
                  select: function (event, ui) { //item selected
                    AutoCompleteSelectHandler(event, ui)
                  },
                  minLength: 2,
                });
              });

              function AutoCompleteSelectHandler(event, ui)
              {
                var selectedObj = ui.item;
              }

</script>
