{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>{% block title %}Photography Django{% endblock %}</title>
    <meta namee="keywords" content="{% block keywords %} Anasayfa anahtar kelimeler{% endblock %}">
    <meta namee="description" content="{% block description %} Anasayfa kısa açıklama {% endblock %}">

   {% load static %}
    <link rel="stylesheet" href=" {% static 'style.css'%}">

    <!-- Favicon -->
    <!-- <link rel="icon" href="{% static 'img/core-img/favicon.png' %}"> -->

    <!-- Stylesheet -->

{% block head %}{% endblock %}
</head>
<body>
    {% include 'header.html' %}
    {% block slider %} {% endblock %}
    {% block sidebar %}  {% endblock %}
    {% block content %} {% endblock %}
    {% include 'footer.html' %}
    {% block foot %} {% endblock %}
</body>
</html>