{% extends "homebase.html"%}
{% block title %} Gallery {{ setting.company.title }} {% endblock %}
{% block keywords %} {{ setting.description }} {% endblock %}
{% block description %} {{ setting.keyword }}{% endblock %}

{% block head %} <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
<!-- jQuery UI !-->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

{% endblock %}
{% load static %}
{% block content %}
   <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url({% static 'img/bg-img/38.jpg'%});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <h2 class="page-title">Gallery</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="index.html"><i class="icon_house_alt"></i> Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Gallery</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <!-- Gallery Area Start -->
     {% load mptt_tags %}
    <div class="alime-portfolio-area section-padding-80 clearfix">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Projects Menu -->
                    <div class="alime-projects-menu wow fadeInUp" data-wow-delay="100ms">
                        <div class="portfolio-menu text-center">
                            {% recursetree category %}
                            <a href="/category/{{ node.id }}/{{ node.slug }}" class="btn active" data-filter="*">{{node.title}}</a>

                            {% endrecursetree %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row alime-portfolio">
                {% for rs in posts %}
                <!-- Single Gallery Item -->
                <div class="col-12 col-sm-6 col-lg-3 single_gallery_item country mb-30 wow fadeInUp" data-wow-delay="500ms">
                    <div class="single-portfolio-content">

                        <img src="{{ rs.image.url }}" style=""alt="">

                        <div class="hover-content">
                            <a href="{{ rs.image.url }}" class="portfolio-img">+</a>
                             <div class="post-content">
                                                             <div class="hover-content">
                            <a href="{{ rs.image.url }}" class="portfolio-img">+</a>

                             </div>
                        </div>
                        </div>
                    </div>
                    <a href="/post/{{ rs.id }}/{{ rs.slug }}" class="btn post-catagory">{{ rs.title}}</a>

                </div>
                {% endfor %}


            </div>

            <div class="row">
                <div class="col-12 text-center wow fadeInUp" data-wow-delay="800ms">
                    <a href="#" class="btn alime-btn btn-2 mt-15">View More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Gallery Area End -->

    <!-- Breadcrumb Area End -->
{% endblock %}




