  {% load static %}
  <!-- Gallery Area Start -->


    <div class="alime-portfolio-area section-padding-80 clearfix">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Projects Menu -->

                    <div class="alime-projects-menu">

                        <div class="portfolio-menu text-center">

                            {% load mptt_tags %}
                            <ul>
                             {% recursetree category %}
                            <button class="btn active" data-filter="*" onclick=location.href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }}</button>

                            {% endrecursetree %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row alime-portfolio">
                {% for rs in post %}
                <div class="col-12 col-sm-6 col-lg-3 single_gallery_item human mb-30 wow fadeInUp" data-wow-delay="700ms">
                    <div class="single-portfolio-content">
                        <img src="{{ rs.image.url}}"  style="width: 380px;height: 380px;" alt="">
                        <a href="#" class="btn post-catagory">{{ rs.category.title }}</a>
                        <div class="hover-content">
                            <a href="{{ rs.image.url }}" class="portfolio-img">+</a>

                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

            <div class="row">
                <div class="col-12 text-center wow fadeInUp" data-wow-delay="700ms">
                    <a href="#" class="btn alime-btn btn-2 mt-15">View More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Gallery Area End -->
